module omi-logrotate 1.0;

require {  
        type var_log_t;  
        type logrotate_t;  
        type init_t;
        type var_t;
        class file getattr;  
        class dir write;
        class file read;
        class file unlink;
        class file write; 
}  

#============= logrotate_t ==============  
 
allow logrotate_t var_log_t:dir write;  
allow logrotate_t var_log_t:file getattr;

#============= init_t ==============
allow init_t var_t:file read;
allow init_t var_t:file unlink;
allow init_t var_t:file write;
